button.memory-icon-vert {
  margin-top: 1px;
  margin-left: 0px;
}

.memory-vert {
  margin-left: 0px;
}

.wifi-icon-vert {
  background-color: transparent;
  margin-left: 3px;
}

button.volume-icon-vert {
  background-color: rgba(25, 55, 36, 0);
  margin-left: 0px;
}

button.toggle-idle {
  padding: 5px;
  margin-right: 0px;
  background-color: transparent;
}
