@import "../../../.cache/wal/colors.scss";


*{
  all: unset;
  font-family: "GeistMono Nerd Font Propo";
  font-weight: bold;
}

@import "custom.scss";
@import "scss/bar.scss";
@import "scss/side-bar.scss";
@import "scss/wallpaper.scss";
@import "scss/device-control.scss";
@import "scss/resource-monitor.scss";
@import "scss/notification.scss";
@import "scss/custom-calendar.scss";
@import "scss/music-control.scss";
