.notifications {
    min-height: 500px;
    background-color: transparent;
}

.notif {
    background-color: mix($color1, $background, 20%);
    margin-bottom: 10px;
    padding: 12px;
    border-radius: 12px;
}

.notif image {
    padding-right: 10px;
}

.notif-summary{  
  color: $color2;
}
