.side-bar {
  background-color: $background;
  padding: 2px;
  border-radius: 12px;
}

/* Workspaces */
.workspaces-vert {
  font-weight: 900;
  font-size: 0.75rem;
  margin-bottom: 0px;
  margin: 8px;
}

.workspace-vert {
  color: $color3;
  transition: color 0.3s ease-in-out;

  &.current {
    color: $color2;
  }

  &:hover {
    color: mix($foreground, $color2, 70%);
  }
}

.musicbar-vert trough {
  all: unset;
  background-color: mix($background, $foreground, 80%);
  border-radius: 2px;
  min-height: 100px;
  min-width: 3px;
}

.musicbar-vert {
  min-height: 100px;
}

.musicbar-vert trough highlight {
  min-width: 3px;
  background-color: mix($color6, $foreground, 90%);
  border-radius: 2px;
}

.music-vert {
  font-size: 0.675rem;
}

.music-control-vert {
  padding: 4px 0;
}

.song-cover-art-vert {
  background-size: cover;
  background-position: center;
  min-height: 25px;
  min-width: 12px;
  margin: 8px 0px;
  border-radius: 4px;
}

/* Power Menu */
.power-vert {
  font-size: 1.22rem;
  color: $foreground;
  min-width: 40px; /* Fixed width */
  min-height: 40px; /* Fixed height */
  padding: 0 5px;
  margin: 0px;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

  &:hover {
    color: mix($background, $foreground, 95%);
  }
}

/* Power Options */
.powermenu-vert {
  font-family: "Font Awesome 6 Free";
  font-size: 1rem;
  padding: 2px 0 4px 0;
  color: mix($color6, $background, 95%);
}

.suspend,
.shutdown,
.lock,
.reboot {
  padding: 0 5px;
  transition: color 0.3s ease-in-out;

  &:hover {
    color: mix($background, $color6, 65%);
  }
}

/* Clock & Battery */
.clock-vert {
  color: $color6;
  padding: 0px 0px;
  margin: 0px 2px;
  min-width: 40px;
  font-size: 1.2rem;
}

.memorybar-vert {
  margin-left: 0px;
  color: mix($color3, $foreground, 90%);
  background-color: mix($background, $foreground, 80%);
}

.memory-icon-vert {
  padding: 2px;
  color: transparent;
}

.memory-vert {
  color: mix($color3, $foreground, 90%);
  padding: 4px 0px;
}

/* Common Style for Resources */
.resource,
.device {
  margin: 2px 7px;
  padding: 4px 0;
  border-radius: 8px;
  background-color: transparent;
}

/* Volume Bars */
.volbar-vert {
  trough {
    background-color: mix($background, $foreground, 80%);
    border-radius: 5px;
    min-height: 30px;
    min-width: 8px;
    margin-top: 10px;

    highlight {
      min-height: 8px;
      border-radius: 5px;
    }
  }
}

.volbar-vert trough highlight {
  background-color: mix($color5, $foreground, 90%);
}

/* Volume Icons */
.volume-icon-vert {
  font-size: 1.1rem;
  margin-right: -5px;
}

.volume-icon-vert {
  color: mix($color5, $foreground, 5%);
  padding-right: 6px;
}

/* Miscellaneous Icons */
.wifi-icon-vert,
.toggle-idle {
  font-size: 1.1rem;
  color: mix($color2, $foreground, 5%);
}

.wifi-vert {
  padding: 0px 5px 2px 5px;
}

.toggle-idle {
  font-size: 1.1rem;
  margin-right: 0px;
}

.icon-module {
  margin: 0 8px;
  padding-bottom: 5px;
  color: $foreground;
  & > &__icon {
    margin-right: 5px;
    font-family: "Font Awesome 5 Free Solid";
  }
}
