theme = "noctalia"

[editor]
line-number = "relative"
cursorline = true
color-modes = true
auto-save = false

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[keys.normal]
C-A-r = ":reload-all"
